# -*- mode: sh; -*-
# (rootdir)/.envrc : direnv configuration file

minpyversion=3.6

# Store current python version
PYENV_VERSION_CURRENT=$PYENV_VERSION

# If there's no .python-version then create one
if [ ! -e ".python-version" ]; then
	versions=( $(pyenv versions --bare --skip-aliases) )
	for i in "${versions[@]}"
	do
		export PYENV_VERSION=$i
        res=$(python -c "import sys; print(sys.version_info > (${minpyversion//./,}))")
		if [ "$res" == "True" ]; then
            vname=${PWD##*/}-$i
            pyenv virtualenv $i $vname
            pyenv local $vname
            export PYENV_VERSION=$vname
            python -m pip install --upgrade pip
            python -m pip install -e .[build]
            break
        fi
	done
fi

# Reset Python Version
export PYENV_VERSION=

# Enable GIT_PROMPT in this folder
#export GIT_PROMPT_DISABLE=0

